---
import Layout from '$layouts/Layout.astro';
import NumberedTitle from '$components/NumberedTitle.astro';
import DestinationMeta from '$components/DestinationMeta.astro';
import TabBarItem from '$components/TabBarItem.astro';
import { getDataForRoute, Param } from '$utils/navigation';
import { DESTINATION_TABS } from '$constants/routes';

export function getStaticPaths() {
  const pages: { destination: Param<'destination'>; props: any }[] = [
    { destination: 'moon', props: getDataForRoute('destination', 'moon') },
    { destination: 'mars', props: getDataForRoute('destination', 'mars') },
    { destination: 'europa', props: getDataForRoute('destination', 'europa') },
    { destination: 'titan', props: getDataForRoute('destination', 'titan') },
  ];
  return pages.map(({ destination, props }) => {
    return { params: { destination }, props };
  });
}
const { destination } = Astro.params;
const props = Astro.props as App.Destination;
---

<Layout title="Frontend Mentor | Destination">
  <div class="grid-container">
    <NumberedTitle label="Pick your destination" number="01" />
    <img src={props.images.webp} alt={props.name} />
    <div class="informations grid">
      <nav class="tabs flex">
        {
          DESTINATION_TABS.map((tab) => (
            <TabBarItem active={tab.name === destination} href={tab.href} name={tab.name} />
          ))
        }
      </nav>
      <div class="presentation space-y">
        <h2 class="uppercase text-light fs-2xl ff-serif">{props.name}</h2>
        <p>{props.description}</p>
      </div>
      <div class="details flex">
        <DestinationMeta title="AVG. DISTANCE" content={props.distance} />
        <DestinationMeta title="Est. travel time" content={props.distance} />
      </div>
    </div>
  </div>
</Layout>

<style>
  .grid-container {
    padding: var(--gutters-block) var(--gutters-inline);
    grid-template-areas:
      'numbered-title'
      'image'
      'informations';
  }

  .grid-container > img {
    grid-area: image;
    max-width: 60%;
    place-self: center;
  }
  .informations {
    grid-area: informations;
    --grid-gap: 2rem;
    margin-top: 2rem;
    place-items: center;
  }
  .tabs {
    --flex-gap: clamp(1.5rem, calc(0.44rem + 4.53vw), 2.25rem);
  }
  .presentation {
    --space-y: clamp(0rem, calc(-0.64rem + 2.74vw), 1rem);
    padding-bottom: clamp(2rem, calc(1.04rem + 4.1vw), 3.5rem);
    border-bottom: 1px solid hsl(var(--clr-divider));
  }

  .presentation > p {
    max-width: 45ch;
  }
  .details {
    flex-direction: column;
    --flex-gap: 2rem;
  }

  @media (--screen-tablet) {
    .grid-container > img {
      max-width: min(445px, 45vw);
    }
    .informations {
      margin-top: 3.5rem;
    }
    .details {
      flex-direction: row;
      --flex-gap: 4.5rem;
    }
  }

  @media (--screen-desktop) {
    .grid-container {
      place-items: end;
      grid-template-rows: min-content 1fr;
      padding-bottom: var(--gutters-bottom-clamp);
      grid-template-areas:
        'numbered-title .'
        'image informations';
    }
    .grid-container > img {
      place-self: end;
    }
    .informations {
      place-self: end;
      place-items: start;
      margin-top: 0;
    }
  }
</style>

<style is:global>
  body {
    background-image: url('/assets/destination/background-destination-mobile.jpg');
    background-position: center;
  }
  @media (--screen-tablet) {
    body {
      background-image: url('/assets/destination/background-destination-tablet.jpg');
    }
  }
  @media (--screen-desktop) {
    body {
      background-image: url('/assets/destination/background-destination-desktop.jpg');
    }
  }
</style>
